
@font-face
{
    font-family: Roboto-thin;
    src: url('../font/Roboto-Thin.ttf');
}

.mainTitle
{
    font-family: Roboto-thin, sans-serif ;
    color : white;
}

.saxnav
{
    float: right;
    height: 20px;
}

.navbar
{
    border-radius: 0px;
}

.btn
{
    border-radius: 0px;
}

.reviewPic
{
    max-height: 300px;
    min-height: 100px;
}

.dropdown
{
    background-color: black;
    margin-top: 8px;
}

.blocReview
{
    //background-color: dimgray;

}

.blocReview a
{
    text-decoration: none;
    color : black;
}

.img-mini
{
    width: 300px;
    height: 150px;
    background-size: cover;
    background-position: center center;

}

/*answer to a subject in a group */
.answer
{
    background-color: white;

}

.catColor
{
    background-color: #F5F5F5;
}

.thumbnail-me
{
    background-color: #F5F5F5;
}

.thumbnail-me a
{
    text-decoration: none;
    color: black;
}

.btnDash
{
    width : 200px;
    //background-color : #bfbfbf;
}

.dashboardHeader
{
    width : 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;

}